html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  font-family: 'Helvetica Neue', sans-serif;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes showLater {
  to { visibility: visible; }
}

html, body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
